TextField {
}

.title {
    font-size: 24px;
}

.unity-label {
    color: rgba(0, 0, 0, 255);
}

.icon-button {
    font-size: 26px;
    -unity-font-definition: resource('');
    -unity-font: url('/Assets/Other/segmdl2v2.ttf');
}
